---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/orgs/openlexington
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4974'
      X-Ratelimit-Reset:
      - '1450630909'
      Last-Modified:
      - Mon, 23 Nov 2015 20:21:34 GMT
      Etag:
      - W/"66e5865ef63a9caf02a384dd9cfe7576"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"openlexington","id":253019,"url":"https://api.github.com/orgs/openlexington","repos_url":"https://api.github.com/orgs/openlexington/repos","events_url":"https://api.github.com/orgs/openlexington/events","members_url":"https://api.github.com/orgs/openlexington/members{/member}","public_members_url":"https://api.github.com/orgs/openlexington/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/253019?v=3","description":"Lexington''s
        Code for America Brigade!","name":"OpenLexington","company":null,"blog":"http://openlexington.org","location":"Lexington,
        KY","email":"info@openlexington.org","public_repos":49,"public_gists":0,"followers":0,"following":0,"html_url":"https://github.com/openlexington","created_at":"2010-04-26T13:12:05Z","updated_at":"2015-11-23T20:21:34Z","type":"Organization","total_private_repos":0,"owned_private_repos":0,"private_gists":0,"disk_usage":52242,"collaborators":0,"billing_email":"chase.southard+openlexington@gmail.com","plan":{"name":"bronze","space":976562499,"private_repos":10}}'
  recorded_at: Sun, 20 Dec 2015 16:23:02 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/orgs/openlexington/public_members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4972'
      X-Ratelimit-Reset:
      - '1450630909'
      Etag:
      - W/"2f6b073ef2275ada37e0e93640d653d5"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"JunHuang01","id":1427358,"avatar_url":"https://avatars.githubusercontent.com/u/1427358?v=3","gravatar_id":"","url":"https://api.github.com/users/JunHuang01","html_url":"https://github.com/JunHuang01","followers_url":"https://api.github.com/users/JunHuang01/followers","following_url":"https://api.github.com/users/JunHuang01/following{/other_user}","gists_url":"https://api.github.com/users/JunHuang01/gists{/gist_id}","starred_url":"https://api.github.com/users/JunHuang01/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/JunHuang01/subscriptions","organizations_url":"https://api.github.com/users/JunHuang01/orgs","repos_url":"https://api.github.com/users/JunHuang01/repos","events_url":"https://api.github.com/users/JunHuang01/events{/privacy}","received_events_url":"https://api.github.com/users/JunHuang01/received_events","type":"User","site_admin":false},{"login":"ahcarpenter","id":574903,"avatar_url":"https://avatars.githubusercontent.com/u/574903?v=3","gravatar_id":"","url":"https://api.github.com/users/ahcarpenter","html_url":"https://github.com/ahcarpenter","followers_url":"https://api.github.com/users/ahcarpenter/followers","following_url":"https://api.github.com/users/ahcarpenter/following{/other_user}","gists_url":"https://api.github.com/users/ahcarpenter/gists{/gist_id}","starred_url":"https://api.github.com/users/ahcarpenter/star[...]
- request:
    method: get
    uri: https://api.github.com/users/JunHuang01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4971'
      X-Ratelimit-Re[...]
- request:
    method: get
    uri: https://api.github.com/users/JunHuang01/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4970'
      X-Ratelimit-Reset:
      - '1450630909'
      Etag:
      - W/"ed37545c54c7153ae48f071824099995"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/1427358/repos?page=2>; rel="next", <https://api.github.com/user/1427358/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":15492715,"name":"atree","full_name":"JunHuang01/atree","owner":{"login":"JunHuang01","id":1427358,"avatar_url":"https://avatars.githubusercontent.com/u/1427358?v=3","gravatar_id":"","url":"https://api.github.com/users/JunHuang01","html_url":"https://github.com/JunHuang01","followers_url":"https://api.github.com/users/JunHuang01/followers","following_url":"https://api.github.com/users/JunHuang01/following{/other_user}","gists_url":"https://api.github.com/users/JunHuang01/gists{/gist_id}","starred_url":"https://api.github.com/users/JunHuang01/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/JunHuang01/subscriptions","organizations_url":"https://api.github.com/users/JunHuang01/orgs","repos_url":"https://api.github.com/users/JunHuang01/repos","events_url":"https://api.github.com/users/JunHuang01/events{/privacy}","received_events_url":"https://api.github.com/users/JunHuang01/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/JunHuang01/atree","description":"Just
        a simple christmas tree, based on redit story","fork":true,"url":"https://api.github.com/repos/JunHuang01/atree","forks_url":"https://api.github.com/repos/JunHuang01/atree/forks","keys_url":"https://api.github.com/repos/JunHuang01/atree/keys{/key_id}","collaborators_url":"https://api.github.com/repos/JunHuang01/atree/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/JunHuang01/atree/teams","hooks_url":"https://api.github.com/repos/JunHuang01/atree/hooks","issue_events_url":"https://api.github.com/repos/JunHuang01/atree/issues/events{/number}","events_url":"https://api.github.com/repos/JunHuang01/atree/events","assignees_url":"https://api.github.com/repos/JunHuang01/atree/assignees{/user}","branches_url":"https://api.github.com/repos/JunHuang01/atree/branches{/branch}","tags_url":"https://api.github.com/repos/JunHuang01/atree/tags","blobs_url":"https://api.github.com/repos/JunHuang01/atree/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/JunHuang01/atree/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/JunHuang01/atree/git/refs{/sha}","trees_url":"https://api.github.com/repos/JunHuang01/atree/git/trees{/sha}","statuses_url":"https://api.github.com/repos/JunHuang01/atree/statuses/{sha}","languages_url":"https://api.github.com/repos/JunHuang01/atree/languages","stargazers_url":"https://api.github.com/repos/JunHuang01/atree/stargazers","contributors_url":"https://api.github.com/repos/JunHuang01/atree/contributors","subscribers_url":"https://api.github.com/repos/JunHuang01/atree/subscribers","subscription_url":"https://api.github.com/repos/JunHuang01/atree/subscription","commits_url":"https://api.github.com/repos/JunHuang01/atree/commits{/sha}","git_commits_url":"https://api.github.com/repos/JunHuang01/atree/git/commits{/sha}","comments_url":"https://api.github.com/repos/JunHuang01/atree/comments{/number}","issue_comment_url":"https://api.github.com/repos/JunHuang01/atree/issues/comments{/number}","contents_url":"https://api.github.com/repos/JunHuang01/atree/contents/{+path}","compare_url":"https://api.github.com/repos/JunHuang01/atree/compare/{base}...{head}","merges_url":"https://api.github.com/repos/JunHuang01/atree/merges","archive_url":"https://api.github.com/repos/JunHuang01/atree/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/JunHuang01/atree/downloads","issues_url":"https://api.github.com/repos/JunHuang01/atree/issues{/number}","pulls_url":"https://api.github.com/repos/JunHuang01/atree/pulls{/number}","milestones_url":"https://api.github.com/repos/JunHuang01/atree/milestones{/number}","notifications_url":"https://api.github.com/repos/JunHuang01/atree/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/JunHuang01/atree/labels{/name}","releases_url":"https://api.github.com/repos/JunHuang01/atree/releases{/id}","created_at":"2013-12-28T13:17:49Z","updated_at":"2014-04-28T00:05:21Z","pushed_at":"2013-12-27T11:48:59Z","git_url":"git://github.com/JunHuang01/atree.git","ssh_url":"git@github.com:JunHuang01/atree.git","clone_url":"https://github.com/JunHuang01/atree.git","svn_url":"https://github.com/JunHuang01/atree","homepage":null,"size":60,"stargazers_count":0,"watchers_count":0,"language":"JavaScript","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true}},{"id":15022085,"name":"BPlusTreeMockUpDBMS","full_name":"JunHuang01/BPlusTreeMockUpDBMS","owner":{"login":"JunHuang01","id":1427358,"avatar_url":"https://avatars.githubusercontent.com/u/1427358?v=3","gravatar_id":"","url":"https://api.github.com/users/JunHuang01","html_url":"https://github.com/JunHuang01","followers_url":"https://api.github.com/users/JunHuang01/followers","following_url":"https://api.github.com/users/JunHuang01/following{/other_user}","gists_url":"https://api.github.com/u[...]
- request:
    method: get
    uri: https://api.github.com/repos/JunHuang01/BPlusTreeMockUpDBMS/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4969'
      X-Ratelimit-Reset:
      - '1450630909'
      Last-Modified:
      - Mon, 28 Apr 2014 00:05:21 GMT
      Etag:
      - W/"af9aeb8e498967965f7c4bcfc9035115"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"C++":24264,"C":19146}'
  recorded_at: Sun, 20 Dec 2015 16:23:04 GMT
- request:
    method: get
    uri: https://api.github.com/repos/JunHuang01/ConwayOfLifeWithOpenMPI/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4968'
      X-Ratelimit-Reset:
      - '1450630909'
      Last-Modified:
      - Tue, 01 Jul 2014 05:46:22 GMT
      Etag:
      - '"044f3d8c3bcfcb38178de3e5281ce97e"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Sun, 20 Dec 2015 16:23:04 GMT
- request:
    method: get
    uri: https://api.github.com/repos/JunHuang01/CS463PrologAssignment1/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4967'
      X-Ratelimit-Reset:
      - '1450630909'
      Last-Modified:
      - Wed, 04 Feb 2015 05:33:14 GMT
      Etag:
      - '"8da7cab96cb90294de26e92675def55b"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"Prolog":1533}'
  recorded_at: Sun, 20 Dec 2015 16:23:04 GMT
- request:
    method: get
    uri: https://api.github.com/repos/JunHuang01/CS485Fall2014Project3/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4966'
      X-Ratelimit-Reset:
      - '1450630909'
      Last-Modified:
      - Sun, 30 Nov 2014 08:57:59 GMT
      Etag:
      - '"77c19cf59871d40f7c6f67637bea3f64"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"C":20126}'
  recorded_at: Sun, 20 Dec 2015 16:23:04 GMT
- request:
    method: get
    uri: https://api.github.com/repos/JunHuang01/CS485Fall2014Project4/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4965'
      X-Ratelimit-Reset:
      - '1450630909'
      Last-Modified:
      - Wed, 04 Feb 2015 05:33:30 GMT
      Etag:
      - W/"d615659a6da0a7fa51fa3a4b19812170"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"C":42942,"Makefile":1709}'
  recorded_at: Sun, 20 Dec 2015 16:23:04 GMT
- request:
    method: get
    uri: https://api.github.com/repos/JunHuang01/DPLL_OpenMPI_with_GuidedPath/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4964'
      X-Ratelimit-Reset:
      - '1450630909'
      Last-Modified:
      - Tue, 14 Oct 2014 02:29:51 GMT
      Etag:
      - W/"440dff59d4f1e3b66888c22d75f8fb26"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"C++":22737,"Python":6296}'
  recorded_at: Sun, 20 Dec 2015 16:23:05 GMT
- request:
    method: get
    uri: https://api.github.com/repos/JunHuang01/GrammerArtist/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4963'
      X-Ratelimit-Reset:
      - '1450630909'
      Last-Modified:
      - Tue, 04 Nov 2014 04:38:05 GMT
      Etag:
      - '"41a3fe02704607cdd01a3dffef08f301"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"Python":35810}'
  recorded_at: Sun, 20 Dec 2015 16:23:05 GMT
- request:
    method: get
    uri: https://api.github.com/repos/JunHuang01/iOS-App-For-RunJumpDev/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4962'
      X-Ratelimit-Reset:
      - '1450630909'
      Last-Modified:
      - Wed, 02 Jul 2014 06:17:55 GMT
      Etag:
      - W/"c55f1e032d16d6816801668a02a35945"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"Objective-C":34441}'
  recorded_at: Sun, 20 Dec 2015 16:23:05 GMT
- request:
    method: get
    uri: https://api.github.com/repos/JunHuang01/JunHuang01.github.io/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4961'
      X-Ratelimit-Reset:
      - '1450630909'
      Last-Modified:
      - Mon, 06 Apr 2015 06:47:46 GMT
      Etag:
      - W/"976c8edfcc99fb0c7978f0da6e94274d"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"CSS":11232,"HTML":8078}'
  recorded_at: Sun, 20 Dec 2015 16:23:05 GMT
- request:
    method: get
    uri: https://api.github.com/repos/JunHuang01/KBBDataScrapper/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4960'
      X-Ratelimit-Reset:
      - '1450630909'
      Last-Modified:
      - Mon, 28 Apr 2014 00:05:21 GMT
      Etag:
      - '"8dc93d014090334f0a532438e6a1a7d7"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"Python":13615}'
  recorded_at: Sun, 20 Dec 2015 16:23:05 GMT
- request:
    method: get
    uri: https://api.github.com/repos/JunHuang01/OpenMPI-Send-Recv-Example/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4959'
      X-Ratelimit-Reset:
      - '1450630909'
      Last-Modified:
      - Mon, 28 Apr 2014 00:05:21 GMT
      Etag:
      - '"080eade90b268b76e6e3c344cf3b1437"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"C":1505}'
  recorded_at: Sun, 20 Dec 2015 16:23:06 GMT
- request:
    method: get
    uri: https://api.github.com/repos/JunHuang01/OpenMPI_ALL_YOU_NEED_IS_LINE/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4958'
      X-Ratelimit-Reset:
      - '1450630909'
      Last-Modified:
      - Sun, 12 Oct 2014 23:15:50 GMT
      Etag:
      - '"10f3f2adf14d35feb05632cc4140d31f"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"C":13567}'
  recorded_at: Sun, 20 Dec 2015 16:23:06 GMT
- request:
    method: get
    uri: https://api.github.com/users/ahcarpenter
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4957'
      X-Ratelimit-R[...]
- request:
    method: get
    uri: https://api.github.com/users/ahcarpenter/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4956'
      X-Ratel[...]
- request:
    method: get
    uri: https://api.github.com/repos/ahcarpenter/adopt-a-hydrant-banff/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4955'
      X-Ratelimit-Reset:
      - '1450630909'
      Last-Modified:
      - Mon, 21 Apr 2014 20:09:23 GMT
      Etag:
      - W/"54e74dd3bce4ec25a32681f07677f4ea"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"JavaScript":66167,"Ruby":53875,"Perl":211,"Shell":30}'
  recorded_at: Sun, 20 Dec 2015 16:23:07 GMT
- request:
    method: get
    uri: https://api.github.com/repos/ahcarpenter/adopt-a-hydrant-providence/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4954'
      X-Ratelimit-Reset:
      - '1450630909'
      Last-Modified:
      - Fri, 14 Feb 2014 04:21:32 GMT
      Etag:
      - W/"935f509d5cb8fafa1f6d7c768c6c0f84"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"Ruby":262538,"JavaScript":66167,"Perl":211,"Shell":30}'
  recorded_at: Sun, 20 Dec 2015 16:23:07 GMT
- request:
    method: get
    uri: https://api.github.com/repos/ahcarpenter/excavare/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4953'
      X-Ratelimit-Reset:
      - '1450630909'
      Last-Modified:
      - Sat, 05 Oct 2013 22:23:42 GMT
      Etag:
      - '"d89bb6fa5e2137f6459bb7a9c4e30518"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"Python":58304}'
  recorded_at: Sun, 20 Dec 2015 16:23:07 GMT
- request:
    method: get
    uri: https://api.github.com/repos/ahcarpenter/lejos-pid/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4952'
      X-Ratelimit-Reset:
      - '1450630909'
      Last-Modified:
      - Mon, 30 Sep 2013 05:39:28 GMT
      Etag:
      - '"ee537ef90ff7b46b6201b9bef1922ce9"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"Java":23684}'
  recorded_at: Sun, 20 Dec 2015 16:23:07 GMT
- request:
    method: get
    uri: https://api.github.com/repos/ahcarpenter/mapsplice/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4951'
      X-Ratelimit-Reset:
      - '1450630909'
      Last-Modified:
      - Sun, 02 Feb 2014 06:09:10 GMT
      Etag:
      - W/"ed3c571e8af31d47d43d2f212fe61fc1"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"C++":2683921,"Python":290359,"C":26742}'
  recorded_at: Sun, 20 Dec 2015 16:23:08 GMT
- request:
    method: get
    uri: https://api.github.com/repos/ahcarpenter/referthis/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4950'
      X-Ratelimit-Reset:
      - '1450630909'
      Last-Modified:
      - Sun, 29 Nov 2015 20:34:30 GMT
      Etag:
      - '"1ad40921d827073fecace6c2d24aadd1"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"Ruby":6649}'
  recorded_at: Sun, 20 Dec 2015 16:23:08 GMT
- request:
    method: get
    uri: https://api.github.com/repos/ahcarpenter/referthisdemo/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4949'
      X-Ratelimit-Reset:
      - '1450630909'
      Last-Modified:
      - Wed, 29 Jan 2014 00:06:31 GMT
      Etag:
      - W/"fe8da3c6bb193bebe20ad63fda7d7249"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"JavaScript":53593,"Ruby":12722}'
  recorded_at: Sun, 20 Dec 2015 16:23:08 GMT
- request:
    method: get
    uri: https://api.github.com/repos/ahcarpenter/see-reddit/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
[...]
