@charset "utf-8";

@import "normalize-rails";
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "refills/flashes";

.wrapper {
  padding-top: 50px;
  @include outer-container;
  .center {
    @include span-columns(6);
    @include shift(3);

    .org-info {
      padding-bottom: 10px;
      margin-bottom: 1.4em;
      border-bottom: 2px solid $light-gray;
      img.org_avatar {
        width: auto;
        height: 50px;
        vertical-align: middle;
      }
    }
  }
}

.lang {
  color: #39739d;
  background-color: #e1ecf4;
  border: 1px solid #e1ecf4;
  padding: 2px;
  margin: 2px 2px 2px 0;
  font-size: 12px;
}

.member {
  $base-border-radius: 3px !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $member-gutter: 1.4em;
  $member-image-padding: 0;
  $member-image-width: 50px;
  $member-color: $base-font-color;
  $member-background: lighten($action-color, 15%);
  $member-detail-color: transparentize($member-color, 0.5);
  $member-image-vert-alignment: top;

  border-bottom: 1px solid transparentize($member-color, 0.9);
  display: table;
  margin-bottom: $base-spacing;
  padding-bottom: 1em;
  width: 100%;

  .member-image,
  .member-content {
    display: table-cell;
    vertical-align: $member-image-vert-alignment;
  }

  .member-image {
    padding-right: $member-gutter;

    > img {
      background: $member-background;
      border-radius: $base-border-radius;
      display: block;
      height: auto;
      max-width: none;
      padding: $member-image-padding;
      width: $member-image-width;
    }

    .member-reverse-order & {
      padding-right: 0;
      padding-left: 10px;
    }
  }

  .member-content {
    width: 100%;

    h1 {
      font-size: 1em;
      margin: 0 0 0.5em 0;
    }

    p {
      line-height: 1.5em;
      margin-bottom: 0.5em;
    }

    p.member-detail {
      color: $member-detail-color;
      font-size: 0.9em;
      font-style: italic;
    }
  }
}

form.search-bar {
  ////////////////////////////////////////////////////////////////////////////
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  ////////////////////////////////////////////////////////////////////////////

  $search-bar-border-color: $base-border-color;
  $search-bar-border: 1px solid $search-bar-border-color;
  $search-bar-background: lighten($search-bar-border-color, 10%);

  position: relative;

  input[type=search] {
    @include appearance(none);
    @include box-sizing(border-box);
    @include transition(border-color);
    background-color: white;
    border-radius: $base-border-radius;
    border-radius: $base-border-radius;
    border: 1px solid $base-border-color;
    display: block;
    font-size: 1em;
    font-style: italic;
    margin: 0;
    padding: ($base-spacing / 3) ($base-spacing / 3);
    position: relative;
    width: 100%;
  }

  button[type=submit] {
    @include button(flat, $action-color);
    @include position(absolute, 0em 0em 0em null);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    outline: none;
    padding: 5px 10px;

    img {
      height: 12px;
      opacity: 0.7;
    }
  }
}
