.center
  .org-info
    = image_tag @organization.avatar_url, class: 'org_avatar'
    = @organization.name
    public members
  .member-info
    - if @organization.members.any?
      %ul
        - @organization.members.order('github_login').each do |member|
          %li
            = image_tag member.avatar_url, class: 'org_avatar'
            = member.github_login
    - else
      %p There are no public members for this organization.
